.game-info {
    margin-bottom: 18.8rem;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_first {
            margin-bottom: 3.6rem;

            @media (max-width: 991px) {
                margin-bottom: 3.4rem;
                padding: 0 9rem;
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;
            }

            @media (max-width: 767px) {
                padding: 0 1rem;
            }

            @media (max-width: 575px) {
                padding: 0;
            }

            @media (max-width: 376px) {
                text-align: left;
            }
        }

        &_second {
            gap: 1.7rem;
            border: 1px solid red;

            @media (max-width: 991px) {
                flex-direction: column;
                gap: 2.4rem;
                text-align: center;
            }

            @media (max-width: 376px) {
                text-align: left;
            }
        }

        &__text {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 3.6rem;
            line-height: 135%;
            text-transform: uppercase;
            color: var(--color-text);

            @media (max-width: 1199px) {
                font-size: 2.8rem;
            }

            &_lecture {
                max-width: 76.4rem;

                @media (max-width: 1399px) {
                    max-width: 75rem;
                }

                @media (max-width: 1199px) {
                    max-width: 60rem;
                }

                @media (max-width: 991px) {
                    display: contents;
                }

                .mobile {
                    @media (max-width: 991px) {
                        order: 2;
                    }
                }
            }

            &_session {
                display: flex;
                max-width: 68rem;
                flex-direction: column;
                gap: 6rem;
                border: 1px solid green;

                @media (max-width: 1199px) {
                    max-width: 52rem;
                    gap: 4.4rem;
                }

                @media (max-width: 376px) {
                    width: 100%;
                }

                .session {
                    @media (max-width: 376px) {
                        max-width: 28.8rem;
                    }
                }
            }
        }

        &__image {
            position: relative;
            overflow: hidden;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                min-width: 100%;
                min-height: 100%;
            }

            &_players {
                object-fit: cover;
                border-radius: 100%;
            }

            &_glitch-animated {
                width: 39.4rem;
                height: 25rem;
                border-radius: 100%;

                @media (max-width: 991px) {
                    margin: 2.4rem 0;
                    order: 1;
                }

                @media (max-width: 376px) {
                    width: 33.5rem;
                    height: 21.2rem;
                }

                img:nth-of-type(1) {
                    animation: glitch-1 10s linear 2s infinite;
                }

                img:nth-of-type(2) {
                    left: -1px;
                    z-index: 2;
                    animation: glitch 10s linear 2s infinite;
                }
            }

            &_elements-animated {
                width: 53rem;
                height: 56.9rem;
                border: 1px solid black;

                @media (max-width: 991px) {
                    width: 45rem;
                    height: 50rem;
                }

                @media (max-width: 575px) {
                    width: 34rem;
                    height: 38rem;
                }

                @media (max-width: 376px) {
                    width: 37rem;
                    height: 39rem;
                    overflow: visible;
                }

                img {
                    object-fit: contain;
                }
            }

            &_paper {
                filter: hue-rotate(0deg);
                animation: paper 6s linear 2s infinite;
            }

            &_banknote {
                animation: banknote 2s ease-in-out 2s infinite;
            }

            &_splash-big {
                animation: splash-big 2s ease-in-out 2s infinite;
                transform: scale(1.05);
            }

            &_player2 {
                opacity: 0;
                animation: player2 8s linear 2s infinite;
            }

            &_player1 {
                opacity: 1;
                animation: player1 8s linear 2s infinite;
            }

            &_splash-small {
                animation: splash-small 2s linear 2s infinite;
                transform: scale(1);
                transform-origin: center left;
            }

            &_horse-black {
                animation: horse-black 2s linear 2s infinite;
                transform-origin: bottom;
            }

            &_hand {
                animation: hand 2s ease-in-out 2s infinite;
                transform: rotate(-15deg);
                transform-origin: center;
            }
        }
    }
}

@keyframes glitch-1 {
    0% {
        opacity: 1;
    }

    20% {
        filter: sepia(100%);
    }

    55% {
        filter: sepia(100%);
    }

    65% {
        filter: invert(100%);
    }

    75% {
        filter: grayscale(1);
    }

    80% {
        opacity: 1;
    }
}

@keyframes glitch {
    0% {
        opacity: 1;
    }

    10% {
        filter: blur(2px);
    }

    15% {
        filter: blur(0);
    }

    20% {
        opacity: 0;
        filter: sepia(100%);
    }

    40% {
        opacity: 1;
        transform: skew(2deg, 2deg);
    }

    50% {
        opacity: 1;
        filter: sepia(100%);
    }

    60% {
        opacity: 0;
        filter: invert(100%);
    }

    70% {
        opacity: 1;
        filter: grayscale(1);
        transform: skew(2deg, 2deg);
    }

    80% {
        opacity: 1;
        transform: skew(0deg, 0deg);
    }
}

@keyframes paper {
    to {
        filter: hue-rotate(360deg);
    }
}

@keyframes banknote {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 0;
        transform: translateY(-10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes splash-big {
    from {
        transform: scale(1.05);
    }
    50% {
        transform: scale(0.9);
    }
    to {
        transform: scale(1.05);
    }
}

@keyframes player2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes player1 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes splash-small {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}

@keyframes horse-black {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-12deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes hand {
    0% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(-1deg) scale(0.85);
    }
    100% {
        transform: rotate(-15deg);
    }
}
