.logo {
    display: flex;
    max-width: 24.5rem;
    margin-right: auto;
    padding: 1px 0;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    color: var(--color-grey);

    &__image {
        display: flex;
        width: 37.5%;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;

        &_horse path {
            fill: var(--color-grey);
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 108%;
        text-transform: uppercase;
    }
}
