.logo {
    display: flex;
    max-width: 24.5rem;
    margin-right: auto;
    padding: 1px 0;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-around;

    @media (max-width: 376px) {
        max-width: 21.3rem;
    }

    &:hover &__image path {
        fill: var(--color-black);
    }

    &:hover &__text {
        color: var(--color-black);
    }

    &__image {
        display: flex;
        width: 37.5%;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;

        &_horse path {
            transition: fill 0.3s ease;
            fill: var(--color-grey);
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 108%;
        text-transform: uppercase;
        color: var(--color-grey);
        transition: color 0.3s ease;

        @media (max-width: 376px) {
            font-size: 14.42px;
        }
    }
}
