.main-button {
    display: flex;
    width: 50%;
    max-width: 26.3rem;
    max-height: 7.2rem;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 130%;
    text-align: center;
    border-radius: 6.6rem;

    @media (max-width: 991px) {
        max-width: 60%;
    }

    @media (max-width: 575px) {
        display: block;
        width: 100%;
        max-width: 100%;
    }
}
