.parallax {
    position: relative;
    width: 100%;
    min-height: 100vh;
    max-width: 100%;
    margin: 0 auto;
    background-color: var(--color-transparent);
    transform-style: preserve-3d;
    perspective: 100px;
    overflow-x: hidden;
    overflow-y: auto;
    user-select: none;

    &__layer,
    &__container {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    &__container {
        top: 15.5%;
        z-index: 2;
    }

    &__text {
        max-width: 54.2rem;
    }

    &::-webkit-scrollbar {
        width: 0px;
        visibility: hidden;
    }

    &__layer {
        max-width: 160.5rem;

        @media (max-width: 1399px) {
            width: 150rem;
            background-position: center bottom !important;
        }

        @media (max-width: 1199px) {
            width: 125rem;
        }

        @media (max-width: 991px) {
            width: 100rem;
        }

        @media (max-width: 767px) {
            width: 80rem;
        }

        @media (max-width: 575px) {
            width: 60rem;
            background-position: -25px bottom !important;
        }

        @media (max-width: 376px) {
            background-position: -90px bottom !important;
        }

        &_circle {
            max-width: 66rem;
            max-height: 66rem;
            background-color: var(--color-accent);
            border: none;
            border-radius: 100%;
            transform: translateX(100%) translateY(-28%) translateZ(-100px) scale(2);

            @media (max-width: 1399px) {
                transform: translateX(100%) translateY(-28%) translateZ(-100px) scale(2);
            }

            @media (max-width: 1199px) {
                max-width: 55rem;
                max-height: 55rem;
                transform: translateX(105%) translateY(-5%) translateZ(-100px) scale(2);
            }

            @media (max-width: 991px) {
                max-width: 50rem;
                max-height: 50rem;
                transform: translateX(97%) translateY(37%) translateZ(-100px) scale(2);
            }

            @media (max-width: 767px) {
                max-width: 45rem;
                max-height: 45rem;
                transform: translateX(105%) translateY(63%) translateZ(-100px) scale(2);
            }

            @media (max-width: 575px) {
                max-width: 40rem;
                max-height: 40rem;
                transform: translateX(0%) translateY(100%) translateZ(-100px) scale(2);
            }

            @media (max-width: 376px) {
                max-width: 30rem;
                max-height: 30rem;
                transform: translateX(-3%) translateY(150%) translateZ(-100px) scale(2);
            }

            &-text {
                position: absolute;
                top: 3.5%;
                left: 3.5%;
                display: block;
                width: 93%;
                font-family: var(--second-family);
                font-weight: 400;
                font-size: 25.6px;
                text-transform: uppercase;
                animation: circle 20s linear infinite;
                overflow: visible;
                mix-blend-mode: overlay;

                path {
                    fill: none;
                }

                text {
                    fill: var(--color-text);
                }
            }

            &::before {
                @include pseudoelem;
                background: url(../img/bg.png) center/cover no-repeat;
                border-radius: 100%;
                mix-blend-mode: color-burn;
            }
        }

        &_queen {
            background: url(../img/queen.png) center/contain no-repeat;
            transform: translateY(0px) translateZ(-85px) scale(1.85);

            @media (max-width: 575px) {
                background: url(../img/queen-s.png) center/contain no-repeat;
            }
        }

        &_king {
            background: url(../img/king.png) center/contain no-repeat;
            transform: translateY(0px) translateZ(-75px) scale(1.75);

            @media (max-width: 575px) {
                background: url(../img/king-s.png) center/contain no-repeat;
            }
        }

        &_city {
            z-index: 3;
            background: url(../img/city.png) center/contain no-repeat;
            transform: translateY(0px) translateZ(-50px) scale(1.5);

            @media (max-width: 575px) {
                background: url(../img/city-s.png) center/contain no-repeat;
            }
        }

        &_pawn {
            z-index: 5;
            background: url(../img/pawn.png) center/contain no-repeat;
            transform: translateY(0px) translateZ(-25px) scale(1.25);
        }

        &_horse {
            z-index: 5;
            background: url(../img/horse.png) center/contain no-repeat;
            transform: translateY(45px) translateZ(0px) scale(1);

            @media (max-width: 1199px) {
                transform: translateY(34px) translateZ(0px) scale(1);
            }

            @media (max-width: 991px) {
                transform: translateY(20px) translateZ(0px) scale(1);
            }

            @media (max-width: 575px) {
                background: url(../img/horse-s.png) center/contain no-repeat;
                transform: translateY(16px) translateZ(0) scale(1);
            }

            @media (max-width: 376px) {
                transform: translateX(-35px) translateY(16px) translateZ(0) scale(1);
            }
        }
    }
}

@keyframes circle {
    to {
        transform: rotate(360deg);
    }
}
