.parallax {
    position: relative;
    width: 100%;
    min-height: 100vh;
    max-width: 100%;
    margin: 0 auto;
    background-color: var(--color-transparent);
    transform-style: preserve-3d;
    perspective: 100px;
    overflow-x: hidden;
    overflow-y: auto;
    user-select: none;

    &__layer,
    &__container {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    &__container {
        top: 15.5%;
        z-index: 2;

        @media (max-width: 376px) {
            top: 13.5%;
        }
    }

    &__text {
        margin-bottom: 4rem;

        @media (max-width: 575px) {
            margin-bottom: 3.2rem;
        }
    }

    &__text,
    &__buttons {
        max-width: 54.2rem;
        border: 1px solid red;
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 1.4rem;

        @media (max-width: 991px) {
            flex-direction: column;
            align-items: flex-start;
        }

        &_dark {
            padding: 2rem 4.5rem;
            color: var(--color-white);
            background-color: var(--color-dark-grey);

            &:hover {
                color: var(--color-dark-grey);
                background-color: var(--color-accent);
                border: 2px solid var(--color-accent);
            }
        }

        &_light {
            padding: 2rem 9rem;
            color: var(--color-dark-grey);
            background-color: var(--color-transparent);

            @media (max-width: 575px) {
                background-color: var(--color-white);
                opacity: 0.9;
            }

            &:hover {
                color: var(--color-white);
                background-color: var(--color-dark-grey);
            }
        }

        &_dark,
        &_light {
            border: 2px solid var(--color-dark-grey);
            transition: background-color 0.3s ease, color 0.4s ease-in-out, box-shadow 0.2s ease-out;

            @media (max-width: 767px) {
                padding: 2rem 2rem;
            }

            @media (max-width: 575px) {
                border: none;
            }

            @media (max-width: 376px) {
                padding: 1.3rem 0rem;
            }

            &:active,
            &:focus {
                box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
                filter: opacity(0.7);
            }
        }
    }

    &::-webkit-scrollbar {
        width: 0px;
        visibility: hidden;
    }

    &__layer {
        max-width: 160.5rem;

        @media (max-width: 1399px) {
            width: 150rem;
        }

        @media (max-width: 1199px) {
            width: 125rem;
        }

        @media (max-width: 991px) {
            width: 100rem;
        }

        @media (max-width: 767px) {
            width: 80rem;
        }

        @media (max-width: 575px) {
            width: 60rem;
            background-position: -25px bottom !important;
        }

        @media (max-width: 376px) {
            background-position: -90px bottom !important;
        }

        &_circle {
            max-width: 66rem;
            max-height: 66rem;
            background-color: var(--color-accent);
            border: none;
            border-radius: 100%;
            transform: translateX(100%) translateY(-28%) translateZ(-100px) scale(2);

            @media (max-width: 1399px) {
                transform: translateX(100%) translateY(-28%) translateZ(-100px) scale(2);
            }

            @media (max-width: 1199px) {
                max-width: 55rem;
                max-height: 55rem;
                transform: translateX(105%) translateY(-5%) translateZ(-100px) scale(2);
            }

            @media (max-width: 991px) {
                max-width: 50rem;
                max-height: 50rem;
                transform: translateX(97%) translateY(37%) translateZ(-100px) scale(2);
            }

            @media (max-width: 767px) {
                max-width: 45rem;
                max-height: 45rem;
                transform: translateX(105%) translateY(63%) translateZ(-100px) scale(2);
            }

            @media (max-width: 575px) {
                max-width: 40rem;
                max-height: 40rem;
                transform: translateX(0%) translateY(100%) translateZ(-100px) scale(2);
            }

            @media (max-width: 376px) {
                max-width: 30rem;
                max-height: 30rem;
                transform: translateX(-3%) translateY(150%) translateZ(-100px) scale(2);
            }

            &-text {
                position: absolute;
                top: 2.5%;
                left: 2.5%;
                display: block;
                width: 95%;
                font-family: var(--second-family);
                font-weight: 400;
                font-size: 19px;
                text-transform: uppercase;
                animation: circle 35s linear infinite;
                overflow: visible;
                mix-blend-mode: overlay;

                path {
                    fill: none;
                }

                text {
                    fill: var(--color-black);
                }
            }

            &::before {
                @include pseudoelem;
                background: url(../img/bg.png) center bottom/cover no-repeat;
                border-radius: 100%;
                mix-blend-mode: color-burn;
            }
        }

        &_queen {
            background: url(../img/queen.png) center bottom/contain no-repeat;
            transform: translateY(0px) translateZ(-85px) scale(1.85);

            @media (max-width: 575px) {
                background: url(../img/queen-s.png) center bottom/contain no-repeat;
            }
        }

        &_king {
            background: url(../img/king.png) center bottom/contain no-repeat;
            transform: translateY(0px) translateZ(-75px) scale(1.75);

            @media (max-width: 575px) {
                background: url(../img/king-s.png) center bottom/contain no-repeat;
            }
        }

        &_city {
            background: url(../img/city.png) center bottom/contain no-repeat;
            transform: translateY(0px) translateZ(-50px) scale(1.5);

            @media (max-width: 575px) {
                background: url(../img/city-s.png) center bottom/contain no-repeat;
            }
        }

        &_pawn {
            background: url(../img/pawn.png) center bottom/contain no-repeat;
            transform: translateY(0px) translateZ(-25px) scale(1.25);
        }

        &_horse {
            background: url(../img/horse.png) center bottom/contain no-repeat;
            transform: translateY(45px) translateZ(0px) scale(1);

            @media (max-width: 1199px) {
                transform: translateY(34px) translateZ(0px) scale(1);
            }

            @media (max-width: 991px) {
                transform: translateY(20px) translateZ(0px) scale(1);
            }

            @media (max-width: 575px) {
                background: url(../img/horse-s.png) center bottom/contain no-repeat;
                transform: translateY(16px) translateZ(0) scale(1);
            }

            @media (max-width: 376px) {
                transform: translateX(-35px) translateY(16px) translateZ(0) scale(1);
            }
        }
    }
}

@keyframes circle {
    to {
        transform: rotate(360deg);
    }
}
