.players-slider {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border: 1px solid red;
    // overflow-x: hidden;

    &__wrapper {
        display: flex;
        gap: 2rem;
        border: 1px solid green;
        transition: transform 0.5s ease;
    }

    &__img {
        display: flex;
        width: 32.42%;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        font-family: var(--font-family);
        text-align: center;
        color: var(--color-text);
        border: 1px solid blue;

        @media (max-width: 991px) {
            width: 50%;
        }

        @media (max-width: 767px) {
            width: 100%;
        }

        &:hover &-photo {
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
        }

        &:hover &-photo_1 {
            background: url(../img/player-hover-1.png) center/cover no-repeat;
        }

        &:hover &-photo_2 {
            background: url(../img/player-hover-2.png) center/cover no-repeat;
        }

        &:hover &-photo_3 {
            background: url(../img/player-hover-3.png) center/cover no-repeat;
        }

        &:hover &-photo_4 {
            background: url(../img/player-hover-4.png) center/cover no-repeat;
        }

        &:hover &-photo_5 {
            background: url(../img/player-hover-5.png) center/cover no-repeat;
        }

        &:hover &-photo_6 {
            background: url(../img/player-hover-6.png) center/cover no-repeat;
        }

        &-photo {
            width: 81.5%;
            height: 32rem;
            max-height: 32rem;
            margin-bottom: 2.8rem;
            background: url(../img/player.png) center/cover no-repeat;
            border: none;
            border-radius: 100%;
            transition: all 0.5s ease;

            @media (max-width: 767px) {
                width: 24.4rem;
                height: 24.4rem;
            }
        }

        &-name {
            margin-bottom: 6px;
            font-weight: 600;
            font-size: 2.4rem;
            line-height: 120%;

            @media (max-width: 767px) {
                margin-bottom: 8px;
            }
        }

        &-title {
            margin-bottom: 2rem;
            font-weight: 400;
            font-size: 2rem;
            line-height: 120%;
        }

        &-link {
            padding: 7px 11.2px;
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 120%;
            color: var(--color-blue-accent);
            border: 1px solid var(--color-blue-accent);
            border-radius: 62px;
            transition: background-color 0.3s ease, color 0.5s ease;
        }

        &:hover &-link {
            color: var(--color-white);
            background-color: var(--color-blue-accent);
        }
    }

    &__controls,
    &__pagination {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__controls {
        position: absolute;
        top: 1.8%;
        right: 0;
        max-width: 15.1rem;
        gap: 1.4rem;

        @media (max-width: 991px) {
            top: -0.5%;
        }

        @media (max-width: 767px) {
            top: unset;
            right: unset;
            bottom: -14%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__pagination {
        gap: 1px;
    }

    &__btn {
        display: block;
        width: 4.4rem;
        height: 4.4rem;
        background-color: var(--color-text);
        border: none;
        border-radius: 100%;
        // animation: 1.5s linear infinite btn;
        transition: all 0.3s ease;

        @media (max-width: 767px) {
            width: 3.6rem;
            height: 3.6rem;
        }

        &:hover {
            background-color: var(--color-accent);
        }

        &:active {
            background-color: var(--color-text);
        }

        &:disabled {
            background-color: var(--color-disabled);
        }
    }

    &__number,
    &__delimiter {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: var(--color-text);
    }

    &__delimiter {
        opacity: 0.6;
    }
}

@keyframes btn {
    from,
    to {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }
}
