.players {
    position: relative;
    margin-bottom: 14rem;

    @media (max-width: 991px) {
        margin-bottom: 17.6rem;
    }

    &__title {
        margin-bottom: 6rem;

        @media (max-width: 991px) {
            margin-bottom: 4rem;
        }
    }
}
