.steps {
    position: relative;
    margin-bottom: 20rem;

    @media (max-width: 991px) {
        margin-bottom: 12rem;
    }

    &::before {
        @include pseudoelem;
        top: unset;
        right: -40px;
        bottom: 25px;
        left: unset;
        z-index: 2;
        width: 353px;
        height: 193px;
        background: url(../img/airplane.png) 0 0 / contain no-repeat;
        animation: float 4s linear infinite;
        transform: rotate(0deg) translate3d(5px, 5px, 0) rotate(0deg);

        @media (max-width: 1300px) {
            right: -70px;
            bottom: 75px;
            width: 340px;
            height: 187px;
        }

        @media (max-width: 1199px) {
            bottom: 115px;
            width: 300px;
            height: 167px;
        }

        @media (max-width: 991px) {
            right: -40px;
            bottom: 0px;
        }

        @media (max-width: 767px) {
            bottom: 10px;
            width: 259px;
            height: 143px;
        }

        @media (max-width: 680px) {
            bottom: 60px;
            width: 210px;
            height: 120px;
        }

        @media (max-width: 575px) {
            top: 170px;
            right: 50px;
            bottom: unset;
            width: 302px;
            height: 173px;
        }

        @media (max-width: 444px) {
            right: 0px;
        }

        @media (max-width: 376px) {
            top: 210px;
        }

        @media (max-width: 370px) {
            top: 190px;
            width: 230px;
            height: 125px;
        }
    }

    &__title {
        position: relative;
        max-width: 80rem;
        margin-bottom: 5.4rem;

        @media (max-width: 991px) {
            margin-bottom: 10rem;
        }

        @media (max-width: 575px) {
            max-width: 100%;
            margin-bottom: 20.4rem;
        }

        &_additional {
            position: absolute;
            max-width: 28rem;
            padding: 9px 0 0 20px;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 2rem;
            line-height: 120%;
            text-transform: none;
            color: var(--color-blue-accent);

            @media (max-width: 991px) {
                bottom: -100%;
                left: 0;
                max-width: 100%;
                padding: 0;
                font-size: 1.8rem;
            }

            @media (max-width: 767px) {
                bottom: -35%;
            }

            @media (max-width: 575px) {
                bottom: -50%;
            }

            @media (max-width: 510px) {
                bottom: -35%;
            }

            @media (max-width: 444px) {
                bottom: -50%;
            }
        }
    }
}

@keyframes float {
    from {
        transform: rotate(0deg) translate3d(5px, 5px, 0) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translate3d(5px, 5px, 0) rotate(-360deg);
    }
}
