.title {
    display: flex;
    margin-bottom: 24px;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 6rem;
    line-height: 110%;
    text-transform: uppercase;
    text-align: left;
    color: var(--color-text);

    opacity: 0;
    animation: title 0.7s ease-in 0.7s forwards;

    &__anim {
        text-align: center;
        animation: title-anim 0.7s ease-in 0.7s forwards;
        transform: translateX(-150px);

        &_right {
            text-align: right;
        }
    }

    &__description {
        margin-bottom: 40px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 130%;
        text-align: center;
        color: var(--color-text);
        opacity: 0;
        animation: title-descr 0.7s ease-in 1.5s forwards;
    }
}

@keyframes title {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes title-anim {
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes title-descr {
    to {
        opacity: 1;
    }
}
