html,
body {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    padding-bottom: 12px;
    font-family: var(--font-family);
    color: var(--color-text);
    background-color: var(--color-bg);
    transition: all 0.5s ease;

    &::after {
        content: url(../img/bg.png) url(../img/city.png) url(../img/horse.png) url(../img/king.png)
            url(../img/pawn.png) url(../img/queen.png) url(../img/airplane.png)
            url(../img/banknote.png) url(../img/bg-steps-slider.png) url(../img/chess-players.png)
            url(../img/city-s.png) url(../img/hand.png) url(../img/horse-black.png)
            url(../img/horse-s.png) url(../img/king-s.png) url(../img/paper.png)
            url(../img/player-hover-1.png) url(../img/player-hover-2.png)
            url(../img/player-hover-3.png) url(../img/player-hover-4.png)
            url(../img/player-hover-5.png) url(../img/player-hover-6.png) url(../img/player.png)
            url(../img/player1.png) url(../img/player2.png) url(../img/queen-s.png)
            url(../img/splash-big.png) url(../img/splash-small.png);
        position: absolute;
        z-index: -1;
        width: 0;
        height: 0;
        opacity: 0;
        overflow: hidden;
    }
}

.container {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 72px;

    @media (max-width: 991px) {
        padding: 0 50px;
    }

    @media (max-width: 575px) {
        padding: 0 20px;
    }
}
