@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Montserrat-Medium.eot');
    src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff'),
        url('../fonts/Montserrat-Medium.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/GolosText-Bold.eot');
    src: url('../fonts/GolosText-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GolosText-Bold.woff2') format('woff2'),
        url('../fonts/GolosText-Bold.woff') format('woff'),
        url('../fonts/GolosText-Bold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/GolosText-DemiBold.eot');
    src: url('../fonts/GolosText-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GolosText-DemiBold.woff2') format('woff2'),
        url('../fonts/GolosText-DemiBold.woff') format('woff'),
        url('../fonts/GolosText-DemiBold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Merriweather-Regular.eot');
    src: url('../fonts/Merriweather-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Merriweather-Regular.woff2') format('woff2'),
        url('../fonts/Merriweather-Regular.woff') format('woff'),
        url('../fonts/Merriweather-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/GolosText-Medium.eot');
    src: url('../fonts/GolosText-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GolosText-Medium.woff2') format('woff2'),
        url('../fonts/GolosText-Medium.woff') format('woff'),
        url('../fonts/GolosText-Medium.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/GolosText-Regular.eot');
    src: url('../fonts/GolosText-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GolosText-Regular.woff2') format('woff2'),
        url('../fonts/GolosText-Regular.woff') format('woff'),
        url('../fonts/GolosText-Regular.ttf') format('truetype');
    font-display: swap;
}
