:root {
    --color-bg: #ffffff;
    --color-transparent: rgba(0, 0, 0, 0);

    --color-white: #ffffff;
    --color-grey: #595653;
    --color-black: #000000;

    --color-accent: #fbce51;

    --font-family: 'Golos Text', sans-serif;
    --second-family: 'Merriweather', sans-serif;
    --third-family: 'Montserrat', sans-serif;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}
