:root {
    --color-bg: #ffffff;
    --color-transparent: rgba(0, 0, 0, 0);

    --color-white: #ffffff;
    --color-grey: #c5c5c5;
    --color-black: #000000;

    --color-accent: #fbd784;

    // --font-family: 'Gilroy', sans-serif;
    // --second-family: 'Chronicle Display', sans-serif;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}
